body {
  font-family: Arial;
  background: #e9f1f7;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 20px;
  background: #8ecaf9;
}

.card {
  background: white;
  padding: 15px;
  margin: 15px auto;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #000;
}
